In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("Zomato_Final_Data.csv")

In [4]:
df.

15021

# Data Explorations

In [ ]:
df.head() # Getting a quick view of dataset

In [ ]:
df.shape # Checking no of rows and columns

In [ ]:
pd.set_option('display.max_columns',27) # Setting view option for max column display

In [ ]:
df.head() # Once Again Getting view after setting view of max column

In [ ]:
df.info() # Checking all columns and their data type

In [ ]:
df.describe()

In [ ]:
df.isnull().sum()

In [ ]:
df.duplicated().sum() # Checking for Duplicates

# Data Cleaning

In [ ]:
df.drop_duplicates(inplace = True) # Removing duplicates from DataFrame, Inplace = True means to create permanent change in Dataframe.

In [ ]:
df.head(10)

In [ ]:
df.isnull().sum() # checking for null after removing duplicates

Drop Columns and Rearrange them  and save them

In [ ]:
columns_to_drop = ['menu_url','switch_to_order_menu','offers' ,'rating_color','latitude','longitude','address',
                   'locality_verbose','city_id','zipcode','locality','Country','id']

In [ ]:
df.drop(columns=columns_to_drop ,axis = 1, inplace = True)

In [ ]:
df

In [ ]:
df.info()

In [ ]:
Rename_columns = {'has_online_delivery':'Online_Delivery','price_range':'Price_Range','name':'Eatery_Name','cuisines':'Cuisines',
                  'is_delivering_now':'Deliverying_Available','average_cost_for_two': 'Average_Cost_For_Two','has_table_booking':'Table_Booking_Available','currency':'Currency',
                 'rating_text':'Rating_Text','votes':'Votes','aggregate_rating':'Aggregate_Rating','city':'City',
                  'Country Code':'Country_Code','res_id':'Eatery_Id' }

In [ ]:
df.rename(columns = Rename_columns,inplace = True )

In [ ]:
df

In [5]:
df.nunique()

has_online_delivery        2
price_range                4
name                    7469
cuisines                1834
is_delivering_now          2
menu_url                9577
average_cost_for_two     140
switch_to_order_menu       1
offers                    52
has_table_booking          2
currency                  12
id                      9577
rating_text                6
rating_color               8
votes                   1014
aggregate_rating          33
latitude                8685
address                 8944
city                     142
Country Code              16
locality_verbose        1281
city_id                  123
zipcode                  465
longitude               8128
locality                1221
res_id                  9577
Country                   15
dtype: int64

In [ ]:
df.count()

In [ ]:
df.duplicated().sum()

In [ ]:
df['Cuisines'].value_counts().sum()

In [ ]:
df['Cuisines']

In [ ]:
# Check percentage of missing data in the 'cuisines' column
missing_percentage = df['Cuisines'].isnull().mean() * 100
print(f"Missing cuisines: {missing_percentage:.2f}%")

In [ ]:
df.dropna(subset=['Cuisines'],inplace =True)

In [ ]:
df.count()

In [ ]:
df.isna().sum()

In [ ]:
df['City'].sort_values(ascending = True).unique()

In [ ]:
# Count the number of rows where 'Cuisines' is 'Dummy'
count_dummy = (df['Cuisines'] == 'Dummy').sum()
print(f"Number of rows with 'Dummy' in Cuisines: {count_dummy}")

In [ ]:
df.drop(df[df['Cuisines']=='Dummy'].index, inplace =True)

In [ ]:
df.dropna(subset=['Currency'],inplace =True)

In [45]:
df['Currency'].value_counts()

Currency
Rs.    8663
$       473
Â£        80
AED      60
R        60
R$       60
TL       40
NZ$      40
P        22
IDR      21
LKR      20
QR       20
Name: count, dtype: int64

In [ ]:
df.count()

In [ ]:
df_cuisines = df.assign(Cuisines=df['Cuisines'].str.split(', ')).explode('Cuisines')
df_cuisines.to_csv('normalized_zomato_data.csv', index=False)

In [2]:
new_df = pd.read_csv('normalized_zomato_data.csv')

In [ ]:
new_df.count()

In [ ]:
column_names = df.columns
print(column_names)

In [ ]:
ordered_columns = [
    'Eatery_Id',
    'Eatery_Name',
    'City',
    'Country_Code',
    'Cuisines',
    'Price_Range',
    'Average_Cost_For_Two',
    'Online_Delivery',
    'Deliverying_Available',
    'Table_Booking_Available',
    'Aggregate_Rating',
    'Rating_Text',
    'Votes',
    'Currency'
]

In [ ]:
new_df= new_df[ordered_columns]

In [ ]:
new_df

In [ ]:
new_df.to_csv('normalized_zomato_data.csv',index = False)

In [ ]:
new_df = pd.read_csv('normalized_zomato_data.csv')

In [ ]:
new_df.nunique

In [3]:
new_df['Eatery_Id']

0          308322
1          308322
2          308322
3          308322
4        18037817
           ...
19740    17582668
19741    17582498
19742    17582498
19743    17582499
19744    17582499
Name: Eatery_Id, Length: 19745, dtype: int64